{#
  GOGGames
  Copyright (C) 2018  GoodOldDownloads

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
<h1>{{ 'Donate'|trans }}</h1>

<h2>{{ 'Do you love this site? Then donate to help keep it alive! So, how can YOU donate?'|trans }}</h2>

<br>

<h3>{{ 'What are donations used for exactly?'|trans }}</h3>
<p>{{ 'Each donation is used to help cover operating expenses (storage server, two seedboxes, VPN tunnel and hosting). All games found on this site are archived on a high-speed storage server in a data center. We are currently using over 7 terabytes of storage. We DO NOT profit from any donations.'|trans }}</p>

<h3>{{ 'What is the total cost to run the site?'|trans }}</h3>
<p>{{ 'Total expenses are €91 (or $109) per month.'|trans }}</p>

<h3>{{ 'How can I donate?'|trans }}</h3>
<p>{{ 'You may donate via PayPal, credit/debit card, Bitcoin and other cryptocurrencies. See below for more information on each option.'|trans }}</p>

<h3>{{ 'I want to donate via PayPal, credit/debit card or another cryptocurrency. How may I?'|trans }}</h3>
<p>{{ 'Please email us at %email% and let us know how you want to donate and we will provide more details. DO NOT EMAIL US BEGGING FOR NEW GAMES, LASTEST UPDATES OR PATCHES! YOU WILL BE IGNORED.'|trans|nl2br|replace({'%email%': '<a href="mailto:help_gg@protonmail.com?subject=Donation">help_gg@protonmail.com</a>'})|raw }}</p>

<h3>{{ 'I have Bitcoin. What is your address?'|trans }}</h3>
<p>{{ 'bc1q29nme66hl0mhhm3pvp6geuz779354srxu9vssz'|trans }}</p>
