{#
  GOGGames
  Copyright (C) 2018  GoodOldDownloads

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
<h1>{{ 'FAQ'|trans }}</h1>
<h3>{{ 'What is Good Old Downloads (GOD)?'|trans }}</h3>
<p>{{ 'A site which automates the process of sharing games from %goglink%'|trans|nl2br|replace({'%goglink%': '<a href="https://www.gog.com" target="_blank">GOG.com</a>'})|raw }}</p>
<h3>{{ 'How does it work?'|trans }}</h3>
<p>{{ "Simply vote on games you want and the site will upload them in the order of which received the highest number of votes. Games are manually checked each day for updates then flagged for upload."|trans }}</p>
<h3>{{"Why can't I vote on a game?"|trans }}</h3>
<p>{{ 'The game was recently voted on and re-uploaded.'|trans }}</p>
<h3>{{ 'How do I download or extract files?'|trans }}</h3>
<p>{{ 'We recommend %jdownloader2link% to download and %7ziplink% to extract files.'|trans|nl2br|replace({'%jdownloader2link%': '<a href="http://jdownloader.org/jdownloader2" target="_blank">JDownloader 2</a>', '%7ziplink%': '<a href="http://www.7-zip.org/download.html" target="_blank">7-Zip</a>'})|raw }}</p>
<h3>{{ 'Which file hosters are free and/or fast?!'|trans }}</h3>
<p>Google Drive is the best. Next best are Openload.co, zippyshare (only for files under 500MB), filecloud.io, and Filescdn (register for a free account there to get better download speed). Just try out the hosters we upload to and see which is best for you. If you want to buy a premium account from a file hoster, we recommend <a href="https://uptobox.com/?op=affiliate&aff_id=10039183" target="_blank">Uptobox</a>.</p>
<h3>{{ 'Do I need "cracks" to play the games?'|trans }}</h3>
<p>{{ 'No, every game is DRM-free. Extract the game files, run the setup, install then play!'|trans }}</p>
<h3>{{ 'What if download links for a game go down?'|trans }}</h3>
<p>{{ 'Voting on games is re-enabled after 30 days since they were last uploaded. You can then vote on games to have them re-uploaded for fresh download links.'|trans }}</p>
<h3>{{ 'Any plans to upload Mac or Linux games?'|trans }}</h3>
<p>{{ 'We will only support Windows with no future plans for other operating systems. Also we currently plan to upload English installers only.'|trans }}</p>
<h3>{{ 'How do the new & updated tags work?'|trans }}</h3>
<p>{{ 'When a game (or DLC/goodies) is added/updated; these tags are assigned. They are cleared from game cards after 7 days have passed from being given the tag(s).'|trans }}</p>
<h3>{{ 'Is there a way I can support this site? Do you take donations?'|trans }}</h3>
<p>{{ 'Yes! Click on "Donate" located in the top bar for information on how to donate to us.'|trans }}</p>
<h3>{{ 'I am looking for torrents or more games!'|trans }}</h3>
<p>{{ 'Check out our other site: %scenegameslink%'|trans|nl2br|replace({'%scenegameslink%': '<a class="sg-faq-link" href="https://scenegames.goodolddownloads.com" target="_blank">SceneGames</a>'})|raw }}</p>