{#
  GOGGames
  Copyright (C) 2018  GoodOldDownloads

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
<h1>{{ 'Frequently Asked Questions'|trans }}</h1>
<h3>{{ 'What is the purpose of this site?'|trans }}</h3>
<p>{{ 'Simple! To upload and share games from %goglink%.'|trans|nl2br|replace({'%goglink%': '<a href="https://www.gog.com" target="_blank">GOG.com</a>'})|raw }}</p>
<h3>{{ 'What is the easiest way to download or extract files?'|trans }}</h3>
<p>{{ 'Please use %jdownloader2link% to download game files and %7ziplink% to extract them. It is advise to not download large files via TOR Browser as the network is slow and puts strain on it.'|trans|nl2br|replace({'%jdownloader2link%': '<a href="http://jdownloader.org/jdownloader2" target="_blank">JDownloader 2</a>', '%7ziplink%': '<a href="http://www.7-zip.org/download.html" target="_blank">7-Zip</a>'})|raw }}</p>
<h3>{{"Will you consider adding other hosters?"|trans }}</h3>
<p>{{ 'There are no plans at this time to add or use others.'|trans }}</p>
<h3>{{"Google is telling me the I can't download or view file at this time?"|trans }}</h3>
<p>{{ 'If you get that you can follow this guide,<a href="http://goggamespc7v6z5e.onion/google-drive-bypass-tutorial">click here<a>, or just wait some time for quota on Google Drive to reset.'|trans }}</p>
<h3>{{ 'How are download links prevented from expiring?'|trans }}</h3>
<p>{{ 'All games are available to be voted on for a re-upload 30 days after they were last uploaded to guard against dead links.'|trans }}</p>
<h3>{{ 'How can I support the site?'|trans }}</h3>
<p>{{ 'Finding bugs is one way! If you run into any issues or notice anything out of place, please open an issue on %githublink%.'|trans|nl2br|replace({'%githublink%': '<a href="https://github.com/MachineGunnur/gg" target="_blank">GitHub</a>'})|raw }}</p>
